/**
 * @file
 * cecs_theme variables.
 */

/* Media queries based on ANU styles version 4.12 (2014-11-26). */
$sm: "only screen and (max-width: 479px)";
$md: "only screen and (min-width: 480px) and (max-width: 599px)";
$lg: "only screen and (min-width: 600px) and (max-width: 959px)";
